/*-----RESET-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.primary-link {
  color: var(--main-color);
}

.primary-link:hover {
  color: var(--main-gray);
  transition: color 0.3s linear;
}

.dark-link {
  color: var(--main-gray);
}

.dark-link:hover {
  color: var(--main-color);
  transition: color 0.3s linear;
}

ul {
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  padding: 1px;
  overflow: hidden;
}
/*----Color----*/
:root {
  --main-color: #1fde82;
  --main-gray: #5d6678;
  --border-gray: #dcdfe5;
}

/*----Font----*/
h2 {
  font-size: 42px;
  font-weight: 300;
}

p {
  color: var(--main-gray);
  font-size: 14px;
}

/*----Button----*/
button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
button,
button:hover {
  transition: all 0.2s linear;
}

button.btn-white {
  border: 1px solid var(--border-gray);
  color: var(--main-gray);
}
button.btn-white:hover {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: white;
}
button.btn-green {
  background-color: var(--main-color);
  color: white;
  box-shadow: 0px 0px 15px var(--main-color);
}
button.btn-green:hover {
  background-color: #575a63;
  color: white;
  box-shadow: none;
}

button.btn-text-light {
  color: white;
}

button.btn-video {
  color: var(--main-gray);
  position: relative;
  padding-right: 45px;
}
button.btn-video::after {
  content: "\f04b";
  font-family: "Font Awesome 6 Free";
  position: absolute;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  top: 0px;
  right: 0px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 1px solid var(--border-gray);
  transition: all 0.2s linear;
}
button.btn-video:hover::after {
  border: 1px solid var(--main-gray);
  background-color: var(--main-gray);
  color: white;
  transition: all 0.2s linear;
}

button + button {
  margin-left: 20px;
}

/*-----Form-----*/

form input,
textarea {
  border: 1px solid var(--border-gray);
  border-radius: 5px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 10px;
  color: var(--main-gray);
}

form textarea {
  min-height: 90px;
  resize: vertical;
}

form ::placeholder {
  color: var(--border-gray);
}

form .input-group {
  display: flex;
}

form .input-group input {
  margin-bottom: 0px;
  padding-right: 30px;
}

form .input-group button {
  margin-left: -20px;
}

/*-----Nav-----*/
header {
  position: sticky;
  top: 0;
  background-color: #fff;
  color: var(--main-gray);
  padding: 15px 0px;
  z-index: 999;
}

header .container {
  display: flex;
  align-items: center;
}

header.no-top {
  -webkit-box-shadow: 0px 8px 32px 0px var(--main-gray);
  box-shadow: 0px 8px 32px 0px var(--main-gray);
}
header nav{
  flex-grow: 1;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
}

header nav ul li a {
  position: relative;
  height: 55px;
  width: auto;
  margin: 0px 20px;
}

header nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -5px;
  background-color: var(--main-gray);
  opacity: 0;
}

header nav ul li a:hover::after {
  opacity: 1;
  transition: opacity 0.5s linear;
}

/*----footer-----*/
footer .footer-logo img {
  margin-bottom: 40px;
}
footer .footer-logo h4 {
  color: var(--main-color);
  font-size: 14px;
  margin-bottom: 10px;
}

footer .footer-logo h4 span {
  color: var(--main-gray);
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
footer .row .col {
  width: 25%;
  padding: 15px;
}
footer h3.title {
  font-size: 22px;
  line-height: 50px;
  margin-bottom: 30px;
}
footer ul li {
  color: var(--main-gray);
  font-size: 14px;
  margin-bottom: 14px;
}

footer ul li:hover {
  color: var(--main-color);
  transition: color linear 0.1s;
  cursor: pointer;
}

footer .copyright {
  margin: 30px 0px 5px 0px;
  width: 100%;
  display: flex;
}

footer .copyright h3,
footer .copyright a {
  font-size: 12px;
  font-weight: 400;
}

footer .copyright h3 {
  margin-right: auto;
}
footer .copyright a.copyright-link {
  margin-left: 45px;
}
.social-links {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -5px;
}
.social-links .link-item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--border-gray);
  transition: all 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px 5px 5px;
}
.link-item i {
  color: var(--border-gray);
}

.social-links .link-item:hover {
  background-color: var(--main-color);
  border: var(--main-color);
}
.social-links .link-item:hover i {
  color: white;
}

/*----section-----*/
section {
  padding: 70px 0px;
  background-color: rgba(247, 250, 255, 0.32);
}

/*----Base-----*/
section.section-base .container {
  display: flex;
  align-items: center;
}

section.section-base .container > div {
  width: 50%;
}

section.section-base .info {
  padding: 0 15% 0 0;
}

section.section-base p {
  margin: 30px 0px;
}
section.section-base .info-pic img {
  width: 100%;
}

section.section-base .info .info-btn-list {
  display: flex;
  margin: 20px 0px;
}

section.reverse .container {
  flex-direction: row-reverse;
}

section.reverse .info {
  padding: 0 0 0 15%;
}

section.section-base:nth-of-type(1) {
  background: url("image/cloud-1.svg") no-repeat top center, url("image/cloud-2.svg") no-repeat bottom left;
}

/*----Services-----*/

section.section-service {
  background: url("image/cloud-3.svg") no-repeat top right, url("image/cloud-4.svg") no-repeat left bottom 20%;
}
section.section-service h2 {
  margin: 20px 0px 40px 0px;
}
section.section-service .cards {
  display: flex;
  flex-wrap: wrap;
}

section.section-service .cards .card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 360px;
  margin: 15px;
  padding: 45px;
  background-color: white;
  box-shadow: 0 0 20px #989aa123;
}

section.section-service .cards .card h3.card-title {
  margin-bottom: 20px;
}

section.section-service .cards .card p.card-text {
  line-height: 1.79em;
  margin-bottom: 45px;
}
section.section-service .cards .card img.card-image {
  order: -1;
  width: 30%;
  margin-bottom: 45px;
  filter: drop-shadow(0 0 10px var(--main-color));
}

section.section-service .cards .card .card-link {
  font-weight: 900;
  font-size: 14px;
}

/*----to-contact-----*/
section.section-to-contact {
  background: url("image/cloud-5.svg") no-repeat 50% 80%, url("image/cloud-6.svg") no-repeat 85% 30%;
}

section.section-to-contact .info-pic img {
  width: 80%;
}

/*----advantage-----*/
section.section-advantage {
  background: 
    url("image/cloud-7.svg") no-repeat top 40px right,
    url("image/cloud-8.svg") no-repeat top 100px right 100px, 
    url("image/cloud-9.svg") no-repeat bottom 100px right 30px,
    #2570ff;
  color: white;
  padding-bottom: 70px;
}
section.section-advantage .container {
  flex-wrap: wrap;
}
section.section-advantage .container .info {
  width: 40%;
  padding: 0px 10% 0px 30px;
}

section.section-advantage .info p {
  color: white;
}

section.section-advantage .advantages {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

section.section-advantage .advantages .advantage{
  width: calc(50% - 30px);
  margin: 15px;
  padding: 40px;
  border-radius: 15px;
  background-color: rgb(255 255 255 /0.2);
}

section.section-advantage .advantages .advantage span {
  font-size: 50px;
  font-weight: 900;
}

section.section-advantage .advantages .advantage span.plus::after {
  content: "+";
}

section.section-advantage .advantages .advantage span.percentage::after {
  content: "%";
}

section.section-advantage .advantages .advantage p {
  color: white;
  margin-top: 20px;
}

/*----work-step-----*/
section.section-workstep {
  position: relative;
  background: url("image/cloud-10.svg") no-repeat top 15% right, url("image/cloud-11.svg") no-repeat top 40% left,
    url("image/cloud-12.svg") no-repeat top 90% right;
}

section.section-workstep .container {
  display: flex;
  flex-direction: column;
  /* position: relative; */
}
section.section-workstep h2 {
  padding-bottom: 40px;
}
section.section-workstep .step {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

section.section-workstep .step .title {
  width: 30%;
}

section.section-workstep .step .title h3 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 400;
  color: #1d273b;
}

section.section-workstep .step:nth-of-type(odd) .title {
  order: 1;
}

section.section-workstep .step:nth-of-type(even) .order {
  order: -1;
}

section.section-workstep .step img.order {
  margin: 30px;
  margin-left: 100px;
  filter: drop-shadow(0 0 10px var(--main-color));
}

section.section-workstep .step:nth-of-type(1) .order {
  margin-left: 80px;
}

section.section-workstep .arrow-box {
  position: absolute;
  z-index: 0;
  display: flex;
}

section.section-workstep .arrow-box img {
  display: block;
  margin: auto;
  max-width: 100%;
}

/*----projects-----*/

section.section-project {
  background: url("image/cloud-13.svg") no-repeat top 40% left, #f9fbff;
}
section.section-project .title {
  display: flex;
  margin: 40px 0px;
  align-items: flex-end;
}

section.section-project .title h2 {
  margin-right: auto;
  padding-left: 15px;
  width: 40%;
}

section.section-project .projects {
  display: flex;
  flex-wrap: wrap;
}

section.section-project .projects .project {
  width: 385px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
section.section-project .projects .project + .project {
  margin-left: 22.5px;
}

section.section-project .projects .project .project-info {
  padding: 60px 30px;
  background-color: var(--main-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s linear;
}
section.section-project .projects .project:hover .project-info {
  opacity: 0.95;
  transition: opacity 0.3s linear;
}

section.section-project .projects .project .project-info .title {
  font-size: 38px;
}
section.section-project .projects .project .project-info .link {
  font-size: 12px;
  font-weight: 900;
}
section.section-project .projects .project .project-info .link:hover {
  color: var(--main-gray);
}

section.section-project .projects .project img {
  width: 100%;
  height: auto;
}

/*----contact----*/
section.section-contact {
  background: url("image/cloud-14.svg") no-repeat top 15% right;
}
section.section-contact .container {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}
section.section-contact img {
  width: 40%;
}
section.section-contact .contact-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 44px 0px rgba(17, 29, 48, 0.06);
  border-radius: 10px;
  width: 40%;
  padding: 40px;
}
section.section-contact .contact-box h3 {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 40px;
}

/*----subscribe----*/
section.section-subscribe {
  background: url("image/cloud-15.svg") no-repeat top 30px left,
    url("image/cloud-16.svg") no-repeat bottom 100px right 100px,
    rgba(247,250,255,0.32);
}
section.section-subscribe h2 {
  width: 600px;
  text-align: center;
  margin: 40px 0px;
}

section.section-subscribe .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.section-subscribe .subscribe-box {
  width: 600px;
}

section.section-subscribe .subscribe-box .input-group input {
  border: none;
  box-shadow: 0 0 44px 0px rgba(17, 29, 48, 0.06);
}

/*transition*/
.fade {
  transition: opacity 0.5s linear;
  opacity: 0;
}

.fade.active {
  transition: opacity 0.5s linear;
  opacity: 1;
}


/*-----body No top-----*/
/*----To Top Button----*/
#toTop {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 0;
  right: 20px;
  display: none;
  cursor: pointer;
}
#toTop::before,
#toTop::after {
  content: "";
  top: 10px;
  width: 15px;
  height: 3px;
  display: block;
  position: absolute;
  background-color: var(--main-color);
}

#toTop::before {
  transform: rotate(-45deg);
}
#toTop::after {
  left: 10px;
  transform: rotate(45deg);
}

#toTop:hover::before,
#toTop:hover::after {
  background-color: var(--main-gray);
  transition: all 0.3s linear;
}

body.no-top #toTop {
  display: block;
}

/*----Nav Shadow----*/
body.no-top header::after{
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  display: block;
  height: 50px;
  background:linear-gradient(to bottom,rgba(17,29,48,.06),rgba(0,0,0,0));
}